.ProzillaOS-BlissRadio_Player {
	--foreground-hsl-a: 0, 0%, 100%;
	--foreground-hsl-b: 0, 0%, 80%;
	--foreground-hsl-c: 220, 10%, 65%;

	--background-hsl-a: 0, 0%, 0%;
	--background-hsl-b: 0, 0%, 15%;

	--primary-accent-hsl-a: 208, 100%, 50%;
	--primary-accent-hsl-b: 208, 50%, 25%;

	--secondary-accent-hsl-a: 220, 100%, 50%;
	--secondary-accent-hsl-b: 220, 50%, 25%;
	--secondary-accent-hsl-c: 220, 25%, 12.5%;
	--secondary-accent-hsl-d: 220, 16%, 8%;
	--secondary-accent-hsl-e: 220, 12.5%, 6.25%;
	--secondary-accent-hsl-f: 220, 9.5%, 4.8125%;

	--border-radius-a: 1.5rem;
	--border-radius-b: 0.75rem;

	--max-page-width: 1320px;
	--horizontal-page-margin: 2rem;

	--header-height: 6rem;
	--header-margin-horizontal: 1rem;
	--header-margin-vertical: 1rem;
	--total-header-height: calc(var(--header-height) + var(--header-margin-vertical) * 2);
}

.ProzillaOS-BlissRadio_Player * {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.ProzillaOS-BlissRadio_Player h1,
.ProzillaOS-BlissRadio_Player h2,
.ProzillaOS-BlissRadio_Player h3,
.ProzillaOS-BlissRadio_Player h4,
.ProzillaOS-BlissRadio_Player h5,
.ProzillaOS-BlissRadio_Player h6 {
	font-family: var(--header-font-family);
	font-weight: 700;
	line-height: 1.3;
}

.ProzillaOS-BlissRadio_Player a {
	color: inherit;
	text-decoration: none;
	transition: 300ms ease-in-out;
}

.ProzillaOS-BlissRadio_Player a:hover {
	color: hsl(var(--primary-accent-hsl-a));
}

.ProzillaOS-BlissRadio_Player button {
	margin: 0;
	border: none;
	outline: none;
	transition: background-color 100ms ease-in-out;
	cursor: pointer;
	user-select: none;
}

.ProzillaOS-BlissRadio_Player .svg-inline--fa {
	height: 100% !important;
	width: auto;
}

.ProzillaOS-BlissRadio_Player *::selection {
	color: hsl(var(--foreground-hsl-a));
	background-color: hsl(var(--secondary-accent-hsl-b));
}